<app-form-headers [title]="'Online Players'"></app-form-headers>

<ion-content class="gray-bg">
  <div class="players">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar class="searchbox mb-1"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Hardik Pandya</h2>
            <span>(India)</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Hardik Pandya</h2>
            <span>(India)</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Hardik Pandya</h2>
            <span>(India)</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Hardik Pandya</h2>
            <span>(India)</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full">NEXT</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
