<ion-content class="gray-bg">
	<ion-row>
		<ion-col class="profile-header">
			<ion-row class="back-forward">
				<ion-col size="2">
					<img src="../../../assets/images/profile-back.png" class="left" />
				</ion-col>
				<ion-col size="9" align="right" class="text">
					<h3>My Cricket Profile </h3>
				</ion-col>
				<ion-col align="left" size="1" class="right-arrow">
					<img src="../../../assets/images/profile-back.png" class="right" />
				</ion-col>
			</ion-row>
			<ion-row class="profile-image">
				<ion-col align="center">
					<div class="user-profile-image">
						<div class="profile-image-canvas">
							<img src="../../../assets/images/profile-img.png" class="user-image" />
						</div>
						<span class="pro-badge">Pro</span>
						<img src="../../../assets/images/pencil.png" class="edit-pencil" />
						<div class="user-details">
							<h3>Rahul Sharma</h3>
							<small>Amritsar(Punjab)</small>
							<small>Since 01-Jun-2018</small>
						</div>
					</div>
				</ion-col>
			</ion-row>
			<hr class="divider" />
			<ion-row class="followers-text">
				<ion-col align="center">
					<h4>123</h4>
					<p>Following</p>
				</ion-col>
				<ion-col align="center">
					<h4>198</h4>
					<p>Followers</p>
				</ion-col>
				<ion-col align="center">
					<h4>15</h4>
					<p>Profile Views</p>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card class="highlights-card">
				<ion-card-content class="ion-padding">
					<ion-row class="highlight-title">
						<ion-col size="12">
							<h4>STORE HIGHLIGHTS</h4>
							<p>Lorem ipsum dolor sit amet consectetur.</p>
						</ion-col>
					</ion-row>
					<ion-row class="highlight-calander">
						<ion-col size="3" align="center">
							<img src="../../../assets/images/calander-icon.png" />
							<p>2018</p>
						</ion-col>
						<ion-col size="3" align="center">
							<img src="../../../assets/images/calander-icon.png" />
							<p>2018</p>
						</ion-col>
						<ion-col size="3" align="center">
							<img src="../../../assets/images/calander-icon.png" />
							<p>2018</p>
						</ion-col>
						<ion-col size="3" align="center">
							<img src="../../../assets/images/calander-icon.png" />
							<p>2018</p>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card class="pro-membership-card">
				<ion-card-content>
					<ion-row class="membership-title">
						<ion-col size="12">
							<h4>PRO MEMBERSHIP</h4>
						</ion-col>
					</ion-row>
					<ion-row class="pro-price">
						<ion-col>
							<p>
								<span class="price">$200</span>
								years <span class="white-or">or </span>
								<span class="price">$99</span> months
							</p>
						</ion-col>
					</ion-row>
					<ion-row class="pro-details">
						<ion-col size="12">
							<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae possimus fugiat
								neque at voluptates et enim dolor aliquam veritatis.</p>
						</ion-col>
						<ion-col>
							<ion-button class="primary-button pro-button">Become A Pro</ion-button>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card class="profile-detials-card ion-no-padding">
				<ion-card-content class="ion-no-padding">
					<ion-row class="profile-edit-title">
						<ion-col>
							<h4>MY PROFILE</h4>
						</ion-col>
						<ion-col align="right">
							<img src="../../../assets/images/edit-profile-pencil.png" />
						</ion-col>
					</ion-row>
					<ion-row class="profile-details-table">
						<ion-col class="ion-no-padding">
							<table>
								<tr>
									<td>Mobile No.</td>
									<td>9888098880</td>
								</tr>
								<tr>
									<td>Playing Role</td>
									<td>Bowler</td>
								</tr>
								<tr>
									<td>Batting Style</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Bowling Style</td>
									<td>Fast Bowler</td>
								</tr>
								<tr>
									<td>Date of Birth</td>
									<td>02-02-1998</td>
								</tr>
								<tr>
									<td>Email</td>
									<td>xyz@yopmail.com</td>
								</tr>
								<tr>
									<td>Gender</td>
									<td>Male</td>
								</tr>
							</table>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="10" align="center" class="profile-progress-bar">
							<ion-progress-bar value="0.5" class="profile-progress"></ion-progress-bar>
						</ion-col>
						<ion-col class="percent-complete">
							<p>70%</p>
						</ion-col>
						<ion-col align="center" size="12" class="complete-text">
							<p>Completed Profile</p>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	<!-- Connection Card Start -->
	<ion-row>
		<ion-col>
			<ion-card class="connections-card">
				<ion-card-content class="ion-no-padding">
					<ion-row class="connections-title">
						<ion-col>
							<h4>CONNECTIONS</h4>
						</ion-col>
					</ion-row>
					<hr class="connection-divider" />
					<ion-row class="connections-list">
						<ion-col align="center">
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
							<div class="connection-canvas">
								<img src="../../../assets/images/connections-img.png" class="connection" />
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="connection-text">
						<ion-col align="center">
							<p>
								Connect with friends to challenge,motivate & inspire each other.
							</p>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col align="center">
							<ion-button class="primary-button">Find Friends</ion-button>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<!-- Connection Card End -->

	<ion-row>
		<ion-col>
			<ion-card class="badges-card">
				<ion-card-content class="ion-no-padding">
					<ion-row class="badge-title">
						<ion-col>
							<h4>BADGES</h4>
						</ion-col>
					</ion-row>
					<hr class="badge-divider" />
					<ion-row class="badges-list">
						<ion-col align="center">
							<div class="badge-canvas">
								<img src="../../../assets/images/badges/badge-5.png" class="badge" />
							</div>
							<div class="badge-canvas">
								<img src="../../../assets/images/badges/badge-4.png" class="badge" />
							</div>
							<div class="badge-canvas">
								<img src="../../../assets/images/badges/badge-3.png" class="badge" />
							</div>
							<div class="badge-canvas">
								<img src="../../../assets/images/badges/badge-2.png" class="badge" />
							</div>
							<div class="badge-canvas">
								<img src="../../../assets/images/badges/badge-1.png" class="badge" />
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="badge-text">
						<ion-col align="center">
							<p>
								View all the badges.unlocked by you so for.
							</p>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col align="center">
							<ion-button class="primary-button">View Badges</ion-button>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<ion-card class="scan-tag-card">
				<ion-card-content class="ion-no-padding">
					<ion-row class="scan-tag-title">
						<ion-col>
							<h4>YOUR SCAN TAG</h4>
						</ion-col>
						<ion-col align="right" class="scan-tag-actions">
							<img src="../../../assets/images/scan-tag.png" />
							<img src="../../../assets/images/scan-back.png" />
						</ion-col>
					</ion-row>
					<hr class="scan-tag-divider" />
					<ion-row class="scan-tag-content">
						<ion-col align="center">
							<p>
								Let’s cricketers find tournament easily with following QR Code.
							</p>
							<div class="user-image">
								<img src="../../../assets/images/profile-img.png" />
							</div>
							<h4>Rahul Sharma</h4>
							<small>Loramimease Lorsaam imes</small>
						</ion-col>
					</ion-row>
					<ion-row class="qr-code">
						<ion-col align="center" size="12">
							<img src="../../../assets/images/qr_code.png" />
						</ion-col>
						<ion-col size="12" class="qr-text" align="center">
							<small><i>* Find Tournaments by scanning their QR Code.</i></small>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<ion-card class="pin-card">
				<ion-card-content class="ion-no-padding">
					<ion-row class="pin-card-title">
						<ion-col>
							<h4>PIN</h4>
						</ion-col>
					</ion-row>
					<hr class="pin-card-divider" />
					<ion-row class="pin-input">
						<ion-col align="center">
							<ion-input placeholder="****" type="password" maxlength="4"></ion-input>
							<p>You have already set your PIN.if you don’t remember it or wants to changesit . Click
								Reset PIN below.</p>
						</ion-col>
						<ion-col size="12" align="center">
							<ion-button class="primary-button">RESET PIN</ion-button>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<ion-card class="scan-tag-card">
				<ion-card-content class="ion-no-padding">
					<ion-row class="scan-tag-title">
						<ion-col size="12">
							<h4>EDIT NOTIFICATION PREFERENCE</h4>
						</ion-col>
					</ion-row>
					<hr class="scan-tag-divider" />
					<ion-row class="logout-buttons">
						<ion-col align="right">
							<ion-button color="dark">LOGOUT</ion-button>
						</ion-col>
						<ion-col align="left">
							<ion-button color="dark">CLEAR DATA</ion-button>
						</ion-col>
						<ion-col size="12" align="center">
							<p>Version 6.8.2</p>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>
<app-tabs-menu></app-tabs-menu>