<app-form-headers [title]="'Badges'"></app-form-headers>

<ion-content class="gray-bg">
  <ion-row class="my-1">
    <ion-col size="11" class="m-auto bg-white outerbox">
      <div class="grid-row">
        <div>
          <img src="assets/images/badges/Legendary.png" />
          <span>Legendary</span>
        </div>
        <div>
          <img src="assets/images/badges/coolThirty.png" />
          <span>Cool Thirty</span>
        </div>
        <div>
          <img src="assets/images/badges/NiftyFifty.png" />
          <span>Nifty Fifty</span>
        </div>
        <div>
          <img src="assets/images/badges/MegaStriker.png" />
          <span>Mega Striker</span>
        </div>
        <div>
          <img src="assets/images/badges/Centurion.png" />
          <span>The Centurion</span>
        </div>
        <div>
          <img src="assets/images/badges/3Quickies.png" />
          <span>3 Quickies</span>
        </div>
        <div>
          <img src="assets/images/badges/ChokeSlammer.png" />
          <span>Choke Slammer</span>
        </div>

        <div>
          <img src="assets/images/badges/coolThirty.png" />
          <span>Cool Thirty</span>
        </div>

        <div>
          <img src="assets/images/badges/NiftyFifty.png" />
          <span>Nifty Fifty</span>
        </div>

        <div>
          <img src="assets/images/badges/50megastriker.png" />
          <span>Mega Striker</span>
        </div>

        <div>
          <img src="assets/images/badges/Centurion.png" />
          <span>The Centurion</span>
        </div>

        <div>
          <img src="assets/images/badges/3Quickies.png" />
          <span>3 Quickies</span>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
