<app-form-headers [title]="'Cricket Clubs'"></app-form-headers>

<ion-content class="gray-bg">
  <ion-row>
    <ion-col size="11" class="m-auto bg-white outerbox">
      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketbanners.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-center ion-align-items-center"
          >
            <p>Hyderabad Memon Cricket Club</p>
            <span>(South)</span>
          </div>
        </div>
      </ion-card>

      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketbanners.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-center ion-align-items-center"
          >
            <p>Hyderabad Memon Cricket Club</p>
            <span>(South)</span>
          </div>
        </div>
      </ion-card>

      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketbanners.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-center ion-align-items-center"
          >
            <p>Hyderabad Memon Cricket Club</p>
            <span>(South)</span>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
