<app-form-headers [title]="'Cricket Tips'"></app-form-headers>

<ion-content>
  <div class="cricket-heading d-flex ion-align-items-center">
    <span>Cricket Tips</span><img src="assets/icon/close.png" />
  </div>

  <ion-row class="my-1"
    ><ion-col size="12" class="text-center">
      <img src="assets/images/powredby.png" class="powred" /> </ion-col
  ></ion-row>

  <ion-row class="my-1 ion-padding">
    <ion-col size="12" class="tips">
      <h4>1. Introduration to Cricket</h4>
      <div class="imgvideo">
        <img src="assets/images/cricketimg.png" />
        <img src="assets/icon/youtube.png" class="playbtn" />
      </div>
    </ion-col>
  </ion-row>
</ion-content>
