.header-toolbar {
    ion-back-button {
        display: block;
        float: left;
        color: #992219;
    }
    ion-title {
        float: left;
        padding-top: 11px;
        color: #cf2106;
    }
}

.redBg {
    --background: #cf2106;
    ion-title {
        color: #fff;
    }
    ion-back-button {
        color: #fff;
    }
}
