<app-form-headers [title]="'Commentators'"></app-form-headers>

<ion-content class="gray-bg">
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <div class="content-area">
        <div class="follow">
          <ion-row>
            <ion-col size="12">
              <ion-searchbar
                class="searchbox"
                placeholder="Quick Search"
              ></ion-searchbar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11"> </ion-col>
          </ion-row>
          <ion-card class="highlights-card">
            <ion-card-content class="card-content">
              <div class="team d-flex gap-1 ion-align-items-center">
                <img src="assets/images/avatar.png" class="team-photo" />
                <div class="d-flex direction-column gap-h ratingbox">
                  <h2>Hardik Pandya</h2>
                  <div class="ratingbox-content">
                    10/10 <img src="assets/images/rating.png" /> (418,818)
                  </div>
                </div>

                <div class="d-flex gap-h action-btns">
                  <button class="primary-button-round">Hire</button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card class="highlights-card">
            <ion-card-content class="card-content">
              <div class="team d-flex gap-1 ion-align-items-center">
                <img src="assets/images/avatar.png" class="team-photo" />
                <div class="d-flex direction-column gap-h ratingbox">
                  <h2>Hardik Pandya</h2>
                  <div class="ratingbox-content">
                    10/10 <img src="assets/images/rating.png" /> (418,818)
                  </div>
                </div>

                <div class="d-flex gap-h action-btns">
                  <button class="primary-button-round">Hire</button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card class="highlights-card">
            <ion-card-content class="card-content">
              <div class="team d-flex gap-1 ion-align-items-center">
                <img src="assets/images/avatar.png" class="team-photo" />
                <div class="d-flex direction-column gap-h ratingbox">
                  <h2>Hardik Pandya</h2>
                  <div class="ratingbox-content">
                    10/10 <img src="assets/images/rating.png" /> (418,818)
                  </div>
                </div>

                <div class="d-flex gap-h action-btns">
                  <button class="primary-button-round">Hire</button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card class="highlights-card">
            <ion-card-content class="card-content">
              <div class="team d-flex gap-1 ion-align-items-center">
                <img src="assets/images/avatar.png" class="team-photo" />
                <div class="d-flex direction-column gap-h ratingbox">
                  <h2>Hardik Pandya</h2>
                  <div class="ratingbox-content">
                    10/10 <img src="assets/images/rating.png" /> (418,818)
                  </div>
                </div>

                <div class="d-flex gap-h action-btns">
                  <button class="primary-button-round">Hire</button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
