<app-form-headers [title]="title" modal="true"></app-form-headers>

<ion-content class="gray-bg ion-padding">
	<ion-row>
		<ion-col>
			<ion-list *ngIf="type == 'Bat'">
				<ion-item *ngFor="let player of listOfPlayers.team_a_details.players; index as i"
					(click)="selectPlayer(player)">
					<ion-label>{{ player?.player_profile.name }}</ion-label>
				</ion-item>
			</ion-list>
			<ion-list *ngIf="type == 'Bowler'">
				<ion-item *ngFor="let player of listOfPlayers.team_b_details.players" (click)="selectPlayer(player)">
					<ion-label>{{ player?.player_profile.name }}</ion-label>
				</ion-item>
			</ion-list>
		</ion-col>
	</ion-row>
</ion-content>