.outerbox {
  border-radius: 10px;

  margin-bottom: 1rem;
}
.border-rounded {
  border-radius: 10px;
  overflow: hidden;
}
.card {
  margin-bottom: 1.5rem;
}
.img-section {
  position: relative;

  &-content {
    position: absolute;
    width: 100%;
    bottom: 2px;
    background: rgba(15, 15, 15, 0.671);
    color: var(--ion-color-primary-contrast);
    box-sizing: border-box;
    height: 67px;
    padding: 0.5rem 1.25rem;
    p {
      font-size: 14px;
      span {
        color: red;
      }
    }
  }
}
.card-content {
  color: var(--ion-color-dark);
  h5 {
    color: var(--ion-color-medium);
  }
}
.btn {
  padding: 0.75rem 0.5rem;
}
