<ion-content class="gray-bg">
	<ion-card class="image-uploader">
		<ion-card-content>
			<ion-row>
				<ion-col align="center" size="12">
					<img src="../../../assets/images/61222.png" class="team-created-icon" />
				</ion-col>
				<ion-col size="12" align="center">
					<h3 class="heading-title">Great, Your Tournamnet is registered..</h3>
					<small>Now just few Steps to finish the steps</small>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col align="center" size="12">
					<img src="../../../assets/images/teams-circle.png" class="team-created-icon" />
				</ion-col>
				<ion-col size="12" align="center">
					<h3 class="heading-title">Add Teams</h3>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col align="center" size="12">
					<img src="../../../assets/images/table-circle.png" class="team-created-icon" />
				</ion-col>
				<ion-col size="12" align="center">
					<h3 class="heading-title">Add Rounds/Group for Point Table</h3>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col align="center" size="12">
					<img src="../../../assets/images/schedule-circle.png" class="team-created-icon" />
				</ion-col>
				<ion-col size="12" align="center">
					<h3 class="heading-title">Add Schedule</h3>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col align="center">
					<ion-button class="primary-button letsGo" expand="block" (click)="letsGo()">OK LET'S GO</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>