<app-form-headers [title]="'Cricket News'"></app-form-headers>

<ion-content class="gray-bg">
  <ion-row class="px-1 my-1">
    <ion-col size="6">
      <button class="btn-light-rounded btn" [routerLink]="['/cricket-news']">
        Local
      </button>
    </ion-col>

    <ion-col size="6">
      <button
        class="btn-primary-rounded btn"
        [routerLink]="['/cricket-news-internation']"
      >
        International
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="11" class="m-auto bg-white outerbox">
      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/bjork-live.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-between ion-align-items-center"
          >
            <p>
              Björk first came to prominence as one of the lead vocalists of the
              avant pop ...
            </p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              class="ionicon customicon"
              viewBox="0 0 512 512"
            >
              <title>Share Social</title>
              <circle
                cx="128"
                cy="256"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="112"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="400"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M169.83 279.53l172.34 96.94M342.17 135.53l-172.34 96.94"
              />
            </svg>
          </div>
        </div>

        <ion-card-content class="card-content card-content-md">
          <h5>28<sup>th</sup> June, 2020, Saphale, Mumbai</h5>
          Björk first came to prominence as one of the lead vocalists of the
          avant pop
        </ion-card-content>
      </ion-card>

      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/bjork-live.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-between ion-align-items-center"
          >
            <p>
              Björk first came to prominence as one of the lead vocalists of the
              avant pop ...
            </p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              class="ionicon customicon"
              viewBox="0 0 512 512"
            >
              <title>Share Social</title>
              <circle
                cx="128"
                cy="256"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="112"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="400"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M169.83 279.53l172.34 96.94M342.17 135.53l-172.34 96.94"
              />
            </svg>
          </div>
        </div>

        <ion-card-content class="card-content card-content-md">
          <h5>28<sup>th</sup> June, 2020, Saphale, Mumbai</h5>
          Björk first came to prominence as one of the lead vocalists of the
          avant pop
        </ion-card-content>
      </ion-card>

      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/bjork-live.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-between ion-align-items-center"
          >
            <p>
              Björk first came to prominence as one of the lead vocalists of the
              avant pop ...
            </p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              class="ionicon customicon"
              viewBox="0 0 512 512"
            >
              <title>Share Social</title>
              <circle
                cx="128"
                cy="256"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="112"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="400"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M169.83 279.53l172.34 96.94M342.17 135.53l-172.34 96.94"
              />
            </svg>
          </div>
        </div>

        <ion-card-content class="card-content card-content-md">
          <h5>28<sup>th</sup> June, 2020, Saphale, Mumbai</h5>
          Björk first came to prominence as one of the lead vocalists of the
          avant pop
        </ion-card-content>
      </ion-card>

      <ion-card class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/bjork-live.jpg" />
          <div
            class="img-section-content d-flex ion-justify-content-between ion-align-items-center"
          >
            <p>
              Björk first came to prominence as one of the lead vocalists of the
              avant pop ...
            </p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              class="ionicon customicon"
              viewBox="0 0 512 512"
            >
              <title>Share Social</title>
              <circle
                cx="128"
                cy="256"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="112"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <circle
                cx="384"
                cy="400"
                r="48"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M169.83 279.53l172.34 96.94M342.17 135.53l-172.34 96.94"
              />
            </svg>
          </div>
        </div>

        <ion-card-content class="card-content card-content-md">
          <h5>28<sup>th</sup> June, 2020, Saphale, Mumbai</h5>
          Björk first came to prominence as one of the lead vocalists of the
          avant pop
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
