<app-form-headers [title]="'Select Caption, Keeper, Substitute'" class="header-title"></app-form-headers>

<ion-content class="gray-bg">
	<div class="players">
		<ion-row class="captain-tabs">
			<ion-col size="4">
				<button class="btn"
					[ngClass]="{'btn-primary-rounded':selectedPlayertypeScreenTab == 'captain','btn-light-rounded': selectedPlayertypeScreenTab != 'captain'}"
					(click)="selectedPlayertypeScreen('captain')">Captain</button>
			</ion-col>
			<ion-col size="4">
				<button class="btn"
					[ngClass]="{'btn-primary-rounded':selectedPlayertypeScreenTab == 'wicket','btn-light-rounded': selectedPlayertypeScreenTab != 'wicket'}"
					(click)="selectedPlayertypeScreen('wicket')">Wicket
					Keeper</button>
			</ion-col>
			<ion-col size="4">
				<button class="btn"
					[ngClass]="{'btn-primary-rounded':selectedPlayertypeScreenTab == '12th_men','btn-light-rounded': selectedPlayertypeScreenTab != '12th_men'}"
					(click)="selectedPlayertypeScreen('12th_men')">12th MAN</button>
			</ion-col>
		</ion-row>

		<div *ngIf="selectedPlayertypeScreenTab == 'captain'">
			<ion-row>
				<ion-col size="12">
					<ion-searchbar class="searchbox-bordered"></ion-searchbar>
				</ion-col>
			</ion-row>
			<ng-container *ngFor="let player of players">
				<ion-card class="highlights-card" [ngClass]="{'selected-player':selectedCaptain == player.player_id}"
					*ngIf="selectedPlayers.includes(player.player_id.toString())"
					(click)="selectPlayer(player.player_id,'captain')">
					<ion-card-content class="card-content">
						<div class="d-flex gap-1 ion-align-items-center player">
							<img src="assets/images/avatar.png" class="player-photo" />
							<div class="player-details">
								<h2>{{ player?.player_profile.name }}</h2>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</ng-container>
		</div>

		<div *ngIf="selectedPlayertypeScreenTab == 'wicket'">
			<ion-row>
				<ion-col size="12">
					<ion-searchbar class="searchbox-bordered"></ion-searchbar>
				</ion-col>
			</ion-row>
			<ng-container *ngFor="let player of players">
				<ion-card class="highlights-card"
					[ngClass]="{'selected-player':selectedWicketKeeper == player.player_id}"
					*ngIf="selectedPlayers.includes(player.player_id.toString())"
					(click)="selectPlayer(player.player_id,'wicket')">
					<ion-card-content class="card-content">
						<div class="d-flex gap-1 ion-align-items-center player">
							<img src="assets/images/avatar.png" class="player-photo" />
							<div class="player-details">
								<h2>{{ player?.player_profile.name }}</h2>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</ng-container>
		</div>
		<div *ngIf="selectedPlayertypeScreenTab == '12th_men'">
			<ion-row>
				<ion-col size="12">
					<ion-searchbar class="searchbox-bordered"></ion-searchbar>
				</ion-col>
			</ion-row>
			<ng-container *ngFor="let player of players">
				<ion-card class="highlights-card" [ngClass]="{'selected-player':selected12thMan == player.player_id}"
					(click)="selectPlayer(player.player_id,'12th_me')">
					<ion-card-content class="card-content">
						<div class="d-flex gap-1 ion-align-items-center player">
							<img src="assets/images/avatar.png" class="player-photo" />
							<div class="player-details">
								<h2>{{ player?.player_profile.name }}</h2>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</ng-container>
		</div>
	</div>
	<ion-row>
		<ion-col size="12">
			<ion-button expand="full" (click)="saveTeamToMatch()">Done</ion-button>
		</ion-col>
	</ion-row>
</ion-content>