.user-details {
	margin-top: 14px;
	margin-left: 9px;
	img {
		width: 80px;
	}
	.user-name-phone {
		padding-top: 20px;
		padding-left: 12px;
		small {
			margin-top: 6px;
			font-size: 13px;
			display: block;
		}
	}
}
.percentage-progress {
	padding: 0px;
}

.menu-toolbar {
	height: 138px;
}

.menu-items {
	img {
		width: 23px;
	}
}
