<ion-row class="menu-row">
	<ion-col>
		<img src="../../../assets/images/menu-icons/feed.png" class="icons" />
		<p>Feed</p>
	</ion-col>
	<ion-col>
		<img src="../../../assets/images/menu-icons/market.png" class="icons" />
		<p>Market</p>
	</ion-col>
	<ion-col>
		<img src="../../../assets/images/menu-icons/my_cricket.png" class="my-cricket-img" />
		<p>My Cricket</p>
	</ion-col>
	<ion-col>
		<img src="../../../assets/images/menu-icons/looking.png" class="icons" />
		<p>Looking</p>
	</ion-col>
	<ion-col>
		<img src="../../../assets/images/menu-icons/ecosystem.png" class="icons" />
		<p>Ecosystem</p>
	</ion-col>
</ion-row>