<app-form-headers [title]="'Nanda Kumar'"></app-form-headers>

<ion-content class="gray-bg">
  <div class="d-flex top-strip ion-justify-content-center">
    <button class="strip-btns active">Following (4)</button>
    <button class="strip-btns">Followers (250)</button>
  </div>

  <ion-row class="my-1">
    <ion-col size="11" class="m-auto bg-white outerbox">
      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>

      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>

      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>

      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>

      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>

      <ion-card class="border-rounded mb-1 follwing-list">
        <ion-list class="d-flex ion-align-items-center gap-h">
          <ion-avatar><img src="assets/images/avatar.png" /> </ion-avatar>
          <ion-label class="follwing-heading">
            <h3>Michale Gough</h3>
          </ion-label>
          <button class="followingbtn">Following</button>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
