<app-form-headers [title]="'Cricket Associations'"></app-form-headers>

<ion-content class="gray-bg">
  <ion-row class="px-1 my-1">
    <ion-col size="3">
      <button class="btn-light-rounded btn" [routerLink]="['/']">State</button>
    </ion-col>

    <ion-col size="3">
      <button
        class="btn-primary-rounded btn"
        [routerLink]="['/cricket-associations']"
      >
        District
      </button>
    </ion-col>

    <ion-col size="3">
      <button class="btn-light-rounded btn" [routerLink]="['/icc']">ICC</button>
    </ion-col>

    <ion-col size="3">
      <button class="btn-light-rounded btn" [routerLink]="['/']">Others</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="11" class="m-auto bg-white outerbox ion-padding">
      <div class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketasso.png" />

          <div
            class="img-section-content d-flex ion-justify-content-between text-center ion-align-items-center"
          >
            <p>The Central Board Of Cricket Ahmedabad <span>(West)</span></p>
          </div>
        </div>
      </div>

      <div class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketasso.png" />

          <div
            class="img-section-content d-flex ion-justify-content-between text-center ion-align-items-center"
          >
            <p>The Central Board Of Cricket Ahmedabad <span>(West)</span></p>
          </div>
        </div>
      </div>

      <div class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketasso.png" />

          <div
            class="img-section-content d-flex ion-justify-content-between text-center ion-align-items-center"
          >
            <p>The Central Board Of Cricket Ahmedabad <span>(West)</span></p>
          </div>
        </div>
      </div>

      <div class="card card-md border-rounded">
        <div class="img-section">
          <img src="assets/images/cricketasso.png" />

          <div
            class="img-section-content d-flex ion-justify-content-between text-center ion-align-items-center"
          >
            <p>The Central Board Of Cricket Ahmedabad <span>(West)</span></p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
