.batsman-image {
  display: flex;
  align-items: center;
  img {
    max-width: 6rem;
    margin-top: 20px;
  }
  margin-bottom: 20px;
}

.login-with-passcode {
  display: flex;
  justify-content: flex-end;
  p {
    margin: 0px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: underline;
    margin-top: -10px;
  }
}

.terms-condition {
  p {
    margin: 0px;
    float: left;
    font-size: 13px;
    display: contents;
    line-height: 20px;
    color: #a8a5a5;
    span {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
  ion-checkbox {
    margin-right: 10px;
    width: 13px;
    height: 13px;
    --background-checked: var(--primary-color);
    --border-color-checked: var(--primary-color);
  }
  bottom: 0px;
}

.login-footer {
  ion-button {
    margin: 0px;
  }
}

.login-button {
  margin-top: 10px;
}

.logo-image {
  width: 72px;
  margin: 0 auto;
  display: flex;
}
