<app-form-headers [title]="'Start A Match'"></app-form-headers>

<ion-content class="gray-bg">
	<ion-card class="highlights-card">
		<ion-card-content class="card-content">
			<ion-row class="ion-justify-content-center">
				<ion-col size="9" class="text-center">
					<p>Cric.Biz Live Streaming Training GMDC Ahmedabad</p>
				</ion-col>
			</ion-row>
			<ion-row class="ion-align-items-center text-center">
				<ion-col size="5" (click)="selectTeam('A')">
					<img class="border-radius teamphoto" src="assets/images/avatar.png" />
					<h2>{{ team_a }}</h2>
					<!-- <span class="squard">Squard (11)</span> -->
				</ion-col>
				<ion-col size="2" (click)="selectTeam('B')">
					<h1 class="vs">v/s</h1>
				</ion-col>
				<ion-col size="5" (click)="selectTeam('B')">
					<img class="border-radius teamphoto" src="assets/images/avatar.png" />
					<h2>{{ team_b }}</h2>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
	<ion-row>
		<ion-col size="12">
			<ion-radio-group value="biff">
				<ion-item>
					<ion-label>Limited Overs</ion-label>
					<ion-radio slot="start" value="biff"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>Test Match</ion-label>
					<ion-radio slot="start" value="buford"></ion-radio>
				</ion-item>
			</ion-radio-group>
		</ion-col>
		<ion-col size="12">
			<ion-list>
				<ion-item>
					<ion-label position="floating">No. of overs *</ion-label>
					<ion-input></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Overs Per Bowler *</ion-label>
					<ion-input></ion-input>
				</ion-item>
				<ion-item class="power-play" lines="none">
					<h6>Power Play ></h6>
				</ion-item>
			</ion-list>
		</ion-col>
		<ion-col size="12">
			<ion-item>
				<ion-label position="floating">City/Town*</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Ground*</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Date & Time*</ion-label>
				<ion-input (click)="showDatepicker()"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
</ion-content>