// @mixin addBblPlayers {
//   .segment-button-checked {
//     border-radius: 30px;
//     background: var(--ion-color-primary);

//     :host(.in-segment-color.segment-button-checked) .button-native {
//       color: var(--ion-color-primary-contrast);
//     }
//     .segment-button-indicator {
//       opacity: 0;
//     }
//   }
// }

.players {
  width: 90%;
  border-radius: 6px;
  padding: 1rem 0;
  margin: 0rem auto;

  .player {
    &-photo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &-details {
      h2 {
        font-weight: 500;
      }
    }
  }
}

.btn-icon {
  margin-right: 10px;
}
.phonember {
  border-radius: 30px;
  background-color: var(--ion-color-primary-contrast);

  .phonenmb {
    border: none;
    outline: 0;
    flex: 1 1 65%;
    height: 30px;
  }
}
