<app-header></app-header>
<ion-content class="gray-bg">
	<ion-row class="banner-row">
		<ion-col align="center">
			<img src="../../../assets/images/cricket.png" />
			<ion-button class="tournament-button" expand="full" (click)="createTournament()">Create a Tournament
			</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="12" class="content-pdding title-col">
			<h4 class="text-gradiant italic">NEW FEED</h4>
		</ion-col>
		<ion-col size="12" class="ion-no-padding slides-col">
			<ion-slides pager="false" [options]="slideOpts">
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crickter-person.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick1.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick2.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick3.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
			</ion-slides>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col size="12" class="content-pdding title-col">
			<h4 class="text-gradiant italic">UP COMMING TOURNAMENTS</h4>
		</ion-col>
		<ion-col size="12" class="ion-no-padding slides-col">
			<ion-slides pager="false" [options]="slideOpts">
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crickter-person.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick1.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick2.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="feed-box">
						<div class="image-box">
							<img src="../../../assets/images/crick3.png" />
						</div>
						<div class="content-box">
							<p class="text-gradiant italic">England vs Pakistan, 1st Test: Babar hits ..</p>
						</div>
					</div>
				</ion-slide>
			</ion-slides>
		</ion-col>
	</ion-row>
</ion-content>
<app-tabs-menu></app-tabs-menu>