<app-form-headers modal="true" title="{{ titleText }}" customclass="redBg"></app-form-headers>
<ion-content class="gray-bg ion-no-padding">
	<ion-row>
		<ion-col>
			<ion-searchbar showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-list>
				<ion-item *ngFor="let record of records" (click)="getCities(record)">
					<ion-label>{{ record.name }}</ion-label>
				</ion-item>
			</ion-list>
		</ion-col>
	</ion-row>
</ion-content>