<app-form-headers [title]="'Select Team B'"></app-form-headers>

<ion-content class="gray-bg">
  <div class="players">
    <ion-row>
      <ion-col size="4">
        <button class="btn-primary-rounded btn">My Team</button>
      </ion-col>
      <ion-col size="4">
        <button class="btn-light-rounded btn">Search</button>
      </ion-col>
      <ion-col size="4">
        <button class="btn-light-rounded btn">Add</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar class="searchbox-bordered"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Star Eleven</h2>
            <div>
              <img src="assets/icon/trophy.svg" class="teamde" /> Steave
              Vrasa-Caption
            </div>
            <div>
              <img src="assets/icon/location.svg" class="teamde" /> Ahmedabas
            </div>
          </div>
        </div>
        <ion-button expand="full" class="mt-1">View Team</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Star Eleven</h2>
            <div>
              <img src="assets/icon/trophy.svg" class="teamde" /> Steave
              Vrasa-Caption
            </div>
            <div>
              <img src="assets/icon/location.svg" class="teamde" /> Ahmedabas
            </div>
          </div>
        </div>
        <ion-button expand="full" class="mt-1">View Team</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Star Eleven</h2>
            <div>
              <img src="assets/icon/trophy.svg" class="teamde" /> Steave
              Vrasa-Caption
            </div>
            <div>
              <img src="assets/icon/location.svg" class="teamde" /> Ahmedabas
            </div>
          </div>
        </div>
        <ion-button expand="full" class="mt-1">View Team</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Star Eleven</h2>
            <div>
              <img src="assets/icon/trophy.svg" class="teamde" /> Steave
              Vrasa-Caption
            </div>
            <div>
              <img src="assets/icon/location.svg" class="teamde" /> Ahmedabas
            </div>
          </div>
        </div>
        <ion-button expand="full" class="mt-1">View Team</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="highlights-card">
      <ion-card-content class="card-content">
        <div class="d-flex gap-1 ion-align-items-center player">
          <img src="assets/images/avatar.png" class="player-photo" />
          <div class="player-details">
            <h2>Star Eleven</h2>
            <div>
              <img src="assets/icon/trophy.svg" class="teamde" /> Steave
              Vrasa-Caption
            </div>
            <div>
              <img src="assets/icon/location.svg" class="teamde" /> Ahmedabas
            </div>
          </div>
        </div>
        <ion-button expand="full" class="mt-1">View Team</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full">ADD</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
