<app-form-headers [title]="'Start Innings'"></app-form-headers>

<ion-content class="gray-bg ion-padding">
  <ion-row>
    <ion-col size="12" class="d-flex gap-h ion-align-items-center">
      <img src="assets/images/startinnings.png" class="inning-heading" />
      <h4>Batting - Cric.Biz</h4>
    </ion-col>
  </ion-row>

  <ion-row class="mt-1">
    <ion-col size="6">
      <div class="inner-card">
        <img src="assets/images/inningplayer.png" alt="" />
      </div>
      <div class="select-stricker">Select Stricker</div>
    </ion-col>
    <ion-col size="6">
      <div class="inner-card">
        <img src="assets/images/nonStricker.png" alt="" />
      </div>
      <div class="select-stricker">Select Non-Stricker</div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-1">
    <ion-col size="12" class="d-flex gap-h ion-align-items-center">
      <img src="assets/images/bowling.png" class="inning-heading" />
      <h4>Bowling - Cric.Biz</h4>
    </ion-col>
  </ion-row>

  <ion-row class="mt-1">
    <ion-col size="6">
      <div class="inner-card">
        <img src="assets/images/bowler.png" alt="" />
      </div>
      <div class="select-stricker">Select Bowler</div>
    </ion-col>
  </ion-row>
</ion-content>
