<app-header showsearch="true"></app-header>
<ion-content>
	<div class="segments-container">
		<ion-segment value="my_tournaments" class="tournament-tabs" (ionChange)="changeScreen($event)">
			<ion-segment-button value="my_tournaments" id="my_tournaments">
				<ion-label>My Tournaments</ion-label>
			</ion-segment-button>
			<ion-segment-button value="my_matches" id="my_matches">
				<ion-label>My Matches</ion-label>
			</ion-segment-button>
			<ion-segment-button value="tournaments" id="tournaments">
				<ion-label>Tournaments</ion-label>
			</ion-segment-button>
			<ion-segment-button value="teams" id="teams">
				<ion-label>Teams</ion-label>
			</ion-segment-button>
			<ion-segment-button value="summary" id="summary">
				<ion-label>Summary</ion-label>
			</ion-segment-button>
			<ion-segment-button value="gallery" id="gallery">
				<ion-label>Gallery</ion-label>
			</ion-segment-button>
			<ion-segment-button value="scorecard" id="scorecard">
				<ion-label>Scorecard</ion-label>
			</ion-segment-button>
			<ion-segment-button value="live" id="live">
				<ion-label>Live</ion-label>
			</ion-segment-button>
			<ion-segment-button value="information" id="information">
				<ion-label>Information</ion-label>
			</ion-segment-button>
		</ion-segment>
	</div>

	<ion-slides pager="false" [options]="slideOpts">
		<ion-slide>
			<h1>Slide 1</h1>
		</ion-slide>
		<ion-slide>
			<h1>Slide 2</h1>
		</ion-slide>
		<ion-slide>
			<h1>Slide 3</h1>
		</ion-slide>
	</ion-slides>
</ion-content>